<form class="modal-form" action="<%= session_url %>" method="post">
  <%= auth_token %>
  <h1 class="modal-logo">Polylit</h1>

  <p class="modal-content">Sign in or create an account</p>

  <div class="input">
    <label for="form-email">Email</label>
    <input type="text" name="author[email]"
      placeholder="yourname@example.com">
  </div>

  <div class="input">
    <label for="form-password">Password</label>
    <input type="password" name="author[password]" placeholder="Password">
  </div>

  <div class="signin-button">
    <button class="primary">Sign In</button>
    <span class="button-alternative js-modal-close">Cancel</span>
  </div>
</form>
