.modal {
  display: none;
}

.modal.is-open {
  display: block;
}

.modal {
  position: fixed;
  overflow: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
  background-color: rgba(255,255,255,0.97);
  z-index: 900;
}

.modal-form {
  margin: auto;
  text-align: center;
  max-width: 620px;
  padding: 100px 80px;
}

.modal-logo {
  font-size: 36px;
}

.modal-content {
  display: block;
  font-size: 18px;
  color: rgba(0,0,0,0.6);
  padding-top: 10px;
  padding-bottom: 20px;
}

label[for=form-email], label[for=form-password] {
  display: block;
  margin-bottom: 10px;
}

label[for=form-password] {
  margin-top: 10px;
}

.modal-form input {
  width: 255px;
  padding: 0 15px;
  height: 35px;
  font-size: 14px;
}

.modal-form .signin-button {
  margin-top: 15px;
}

.modal-form .primary {
  margin-bottom: 10px;
  margin-right: 8px;
  height: 37px;
  padding: 0 16px;
  font-size: 14px;
  background-color: rgba(255,255,255,0.97);
}

button.modal-close {
  border: 0;
  cursor: pointer;
  background-color: rgba(255,255,255,0.97);
  color: rgba(0,0,0,0.3);
  font-size: 32px;
  padding: 10px 20px;
  position: absolute;
  top: 0;
  right: 0;
}
.navbar {
  margin-right: 400px;
  margin-left: 0;
  display: block;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
  text-align: left;
  z-index: 500;
  width: 100%;
  color: rgba(0, 0, 0, 0.3);
  letter-spacing: 0;
}

.navbar-nav {
  margin: 5px;
  height: 65px;
}

.navbar-center {
  margin-left: 400px;
  max-width: 600px;
}

.navbar-tools {
}

.navbar-nav li, h2 {
  display: block;
  margin: 20px 0 20px 10px;
}

.navbar-nav a {
  padding: 10px 0;
}

.navbar-center > li {
  cursor: pointer;
  float: left;
  color: rgba(0,0,0,0.5);
}

.navbar-tools > li {
  cursor: pointer;
  float: left;
}

.navbar-profile {
  position: relative;
}

.profile-actions {
  position: absolute;
  top: 40px;
  border: 1px solid #D3D3D3;
  background-color: white;
  border-radius: 4px;
  z-index: 900;
  width: 150px;
}

.profile-actions > .tooltip {
  position: absolute;
  display: none;
  border-top: 5px solid white;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 0;
}

.profile-actions a {
  white-space: nowrap;
  padding: 10px;
}

.logo {
  font-size: 32px;
}
/* Make clicks pass-through */

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #00FA9A;

  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 3px;
}

/* Fancy blur effect */
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #00FA9A, 0 0 5px #00FA9A;
  opacity: 1.0;

  -webkit-transform: rotate(3deg) translate(0px, -4px);
      -ms-transform: rotate(3deg) translate(0px, -4px);
          transform: rotate(3deg) translate(0px, -4px);
}

.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}

.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}
.story-form {
  position: absolute;
  left: 100px;
  top: 80px;
  width: 80%;
  max-width: 100%;
}

.ProseMirror {
  border-style: none;
}

.ProseMirror-content {
  height: 600px;
  width: 100%;
  min-height: 200px;
  font-size: 21px;
}

.ProseMirror-content:focus {
  outline: 0;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */


@import url(http://fonts.googleapis.com/css?family=Roboto:300,400,700);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,700,700italic);

html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
  font: inherit;
  box-sizing: inherit;
  text-decoration: inherit;
  text-align: inherit;
  vertical-align: inherit;
  color: inherit;
  background: transparent;
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
}

button,
input[type="submit"] {
  cursor: pointer;
}

button {
  border: 1px solid rgba(0,0,0,0.15);
  border-radius: 999em;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

body {
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 1.4;
}

ul {
  list-style: none;
}

input {
  outline: 0;
  border-color: rgba(0, 0, 0, 0.14902);
  border: 1px solid #D3D3D3;
  border-radius: 4px;
}

.hide {
  display: none;
}

.group:after {
  display: block;
  content: "";
  clear: both;
}

.floatRight {
  float: right;
}

.floatLeft {
  float: left;
}

button.primary {
  color: #00ab6b;
  border-color: #02b875
}
