.profile-banner {
  background-color: #fafafa;
  margin-top: 65px;
}

.inner-profile {
  width: 600px;
  height: 240px;
  margin: 0 auto;
  padding: 2% 0;
  position: relative;
}

.inner-profile h3 {
  margin-bottom: 10px;
}

.inner-profile p {
  width: 65%;
  margin-bottom: 10px;
  display: block;
  color: rgba(0,0,0,0.44);
}

.author-info input:first-child {
  width: 100%;
  border: 0;
  font-size: xx-large;
  font-weight: 700;
  margin-bottom: 10px;
}

.author-info textarea:last-child {
  resize: none;
  width: 65%;
  display: block;
  color: rgba(0,0,0,0.44);
  border: 0;
  margin-bottom: 10px;
}

.social-button-set > small {
  float: left;
  color: rgba(0,0,0,0.44);
  margin-right: 6px;
  margin-bottom: 15px;
}

.avatar-large {
  position: absolute;
  bottom: 40%; right: 2%;
  border-radius: 100%;
  width: 100px;
  height: 100px;
}

.avatar-small {
  cursor: pointer;
  vertical-align: middle;
  border-radius: 100%;
  width: 36px;
  height: 36px;
  margin: 0px 15px 0px 5px;
}

.author-edit-button button {
  padding: 8px 22px;
  font-size: 14px;
}

#delete-account {
  margin-left: 18px;
  margin-top: 9px;
  padding: 0 11px;
}

.author-profile .predictiveSearch {
  bottom: 15px;
}

.author-card-entry {
  position: relative;
  display: block;
  width: auto;
}

.author-card-entry span, small {
  color: rgba(0,0,0,0.44);
  padding: 1px;
  font-size: 12px;
}

.author-card-entry > a {
  color: #00ab6b;
}

.profile-card {
  position: absolute;
  border: 1px solid #D3D3D3;
  background-color: white;
  border-radius: 3%;
  z-index: 900;
  min-width: 250px;
  min-height: 150px;
  padding: 10px;
}

.profile-card.tooltip {
  background: yellow;
}

.profile-card p {
  font-size: 12px;
  margin: 5px 0;
}

.card-title {
  font-size: 18px;
}

.follow-footer {
  position: absolute;
  border-top: 1px solid rgba(0,0,0,0.1);
  padding-top: 10px;
  bottom: 20px;
}

.follow-footer small {
  margin-right: 5px;
}

.profile-banner button {
  display: block;
  float: left;
  background-color: #fafafa;
}

button:disabled {
  background-color: white !important;
  border-color: gray;
  color: gray;
  cursor-pointer: none;
}

#file-input {
  position: absolute;
  left: -9999px;
  top: -9999px;
}

.tooltip:before {
  content: "";
  width: 0; height: 0;
  background: transparent;
  border-top: none;
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
  border-bottom: 14px solid white;
  top: -13px;
  right: 0;
  position: absolute;
  border-color: #D3D3D3 transparent;
}

.tooltip:after {
  content: "";
  width: 0; height: 0;
  background: transparent;
  border-top: none;
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
  border-bottom: 12px solid white;
  top: -14px;
  right: 0;
  position: absolute;
  border-color: #fff transparent;
  border-style: solid;
}

.draft-list-header {
  position: relative;
  top: 90px;
  left: 150px;
  width: 900px;

}

.draft-list-header h1 {
  font-size: 44px;
  margin-bottom: 30px;
}

.navtabs {
  border-top: 1px solid rgba(0,0,0,0.05);
}

.navtabs > li {
  float: left;
  cursor: pointer;
  padding: 15px 10px 20px 0;
  margin-right: 15px;
  margin-bottom: 20px;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: .5px;
  color: rgba(0,0,0,0.5);
}

.draft-feed {

}

.draft-feed h3 {
  font-size: 24px;
  padding-bottom: 5px;
}

.draft-feed-item {
  border-bottom: 1px solid rgba(0,0,0,0.05);
  width: 900px;
  margin-bottom: 10px;
}

.draft-feed-item small {
  color: rgba(0,0,0,0.44);
}

.draft-content {
  padding: 15px 0;
}

.draft-content span {
  padding: 0 2px;
  color: rgba(0,0,0,0.5);
}

.edit-option {
  cursor: pointer;
  position: relative;
}

.edit-actions {
  position: absolute;
  border: 1px solid #D3D3D3;
  background-color: white;
  border-radius: 5%;
  z-index: 900;
  right: -40px;
  top: 30px;
}

.edit-actions li {
  padding: 8px 26px;
}

.edit-actions button {
  border: 0;
}

.edit-actions a:hover {
  color: rgba(0,0,0,0.6);
}

.tab-active {
  font-weight: 700;
  color: black !important;
}

.Following {
  background-color: #00ab6b !important;
  color: #fff;
}

.camera-overlay {
  cursor: pointer;
  opacity: 0.5;
  border-radius: 100%;
  background-color: #d3d3d3;
  height: 100px;
  width: 100px;
  position: absolute;
  bottom: 40%; right: 2%;
  border-radius: 100%;
}

.camera-icon {
  margin: 25px;
}

#delete-account {
  background: rgb(221, 36, 18);
}
