.modal {
  display: none;
}

.modal.is-open {
  display: block;
}

.modal {
  position: fixed;
  overflow: auto;
  top: 0; left: 0; bottom: 0; right: 0;
  width: 100%;
  text-align: center;
  background-color: rgba(255,255,255,0.97);
  z-index: 900;
}

.modal-form {
  margin: auto;
  text-align: center;
  max-width: 620px;
  padding: 100px 80px;
}

.modal-form button {
  margin-right: 5px;
}

.modal-content {
  display: block;
  font-size: 18px;
  color: rgba(0,0,0,0.6);
  padding-top: 10px;
  padding-bottom: 20px;
}

label[for=form-email], label[for=form-password] {
  display: block;
  margin-bottom: 10px;
}

label[for=form-password] {
  margin-top: 10px;
}

.modal-form input {
  width: 255px;
  padding: 0 15px;
  height: 35px;
  font-size: 14px;
}

.modal-form .signin-button {
  margin-top: 15px;
  margin-right: 10px;
}

button.modal-close {
  border: 0;
  background-color: rgba(255,255,255,0.97);
  color: rgba(0,0,0,0.3);
  font-size: 32px;
  padding: 10px 20px;
  position: absolute;
  top: 0;
  right: 0;
}

.oauth-login {
  display: block;
  text-align: left;
  width: 210px;
  margin: 0 auto 10px;
  color: white;
  border-radius: 40px;
  padding: 10px 0;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: .3px;
  line-height: 22px;
}

.fa-twitter, .fa-facebook-official, .fa-user {
  padding-left: 21px;
  padding-right: 10px;
}

.oauth-login a {
  padding: 10px 2px;
}

.twitter-login {
  background-color: #55acee;
}
.twitter-login:hover {
  background-color: #006daa;
}

.fb-login {
  background-color: #3b5998;
}
.fb-login:hover {
  background-color: #1d315b;
}

.demo-login {
  cursor: pointer;
  background-color: rgb(29, 112, 0);
}

.demo-login:hover {
  background-color: rgb(20, 69, 3);
}

.auth-alts a {
  font-size: 12px;
  border: 0;
  color: #00ab6b;
  margin-top: 5px;
  margin-bottom: 0;
  padding: 0;
  display: block;
}

.auth-alts a:hover {
  text-decoration: underline;
}
