.profile-banner {
  background-color: #fafafa;
  margin-top: 65px;
}

.inner-profile {
  width: 600px;
  height: 240px;
  margin: 0 auto;
  padding: 2% 0;
  position: relative;
}

.inner-profile h3 {
  margin-bottom: 10px;
}

.inner-profile p {
  width: 65%;
  margin-bottom: 10px;
  display: block;
  color: rgba(0,0,0,0.44);
}

.author-info input:first-child {
  width: 100%;
  border: 0;
  font-size: xx-large;
  font-weight: 700;
  margin-bottom: 10px;
}

.author-info textarea:last-child {
  resize: none;
  width: 65%;
  display: block;
  color: rgba(0,0,0,0.44);
  border: 0;
  margin-bottom: 10px;
}

.social-button-set > small {
  float: left;
  color: rgba(0,0,0,0.44);
  margin-right: 6px;
  margin-bottom: 15px;
}

.avatar-large {
  position: absolute;
  bottom: 40%; right: 2%;
  vertical-align: middle;
  border-radius: 100%;
  background: #f0f0f0;
  width: 100px;
  height: 100px;
}

.avatar-small {
  vertical-align: middle;
  border-radius: 100%;
  width: 36px;
  height: 36px;
  margin: 0px 15px 0px 5px;
}

.author-edit-button button {
  padding: 8px 22px;
  font-size: 14px;
}

.author-profile .predictiveSearch {
  bottom: 15px;
}

.author-card-entry {
  position: relative;
  display: block;
  width: 100px;
}

.author-card-entry > a {
  color: #00ab6b;
}

.profile-card {
  position: absolute;
  border: 1px solid #D3D3D3;
  background-color: white;
  border-radius: 5%;
  z-index: 900;
  width: 250px;
  padding: 10px;
}

.profile-card p {
  font-size: 12px;
  margin: 5px 0;
}

.card-title {
  font-size: 18px;
}

.profile-banner button {
  display: block;
  float: left;
  background-color: #fafafa;
}

button:disabled {
  border-color: gray;
  color: gray;
  cursor-pointer: none;
}

#file-input {
  position: absolute;
  left: -9999px;
  top: -9999px;
}

.rec-stories {

}
