.promotron {
  /*background-color: #020733;*/
  background-color: #FF6CD9;
  background-image: url('/public/promotron.png');
  background-repeat: no-repeat;
  background-position: center;
  height: 622px;
}

.inner-promotron {
  position: relative;
  background-position: 50% 0;
  text-align: center;
  color: #fff;
}

.promo-content {
  position: absolute;
  width: 100%;
  top: 140px;
}

.promo-content p {
  font-weight: 300;
  max-width: 580px;
  margin: 10px auto;
}
