@media (max-width: 1200px) {
  .story-feed {
    margin-left: 100px;
  }

  .draft-list-header {
    width: 90%;
    left: 100px;
  }

  .search-feed {
    width: 50%;
    max-width: 800px;
  }
}

@media (max-width: 1150px) {
  .story-feed {
    margin-right: 100px;
    max-width: 500px;
  }
}

@media (max-width: 1000px) {
  .sidebar {
    display: none;
  }

  .story-feed {
    max-width: 600px;
  }
}

@media (max-width: 912px) {
  .story {
    margin: 100px 25px;
  }

  .ProseMirror {
    width: 80%;
  }

  .write-link {
    display: none;
  }

  .predictiveSearch {
    width: 60px;
  }
}

@media (max-width: 780px) {
  .story-feed {
    width: 0;
    min-width: 450px;
  }

  .inner-profile {
    padding: 35px;
  }
}

@media (max-width: 735px) {
  .inner-profile {
    padding-left: 50px;
  }

  .ProseMirror {
    width: 65%;
  }

  .search-feed {
    margin: 150px 60px;
  }

  .promotron {
    display: none;
  }
}

@media (max-width: 584px) {
  .navbar-center {
    margin-left: 25px;
  }
  .draft-list-header {
    left: 25px;
  }

  .navbar-center li {
    margin: 30px 5px;
  }

  .ProseMirror {
    width: 60%;
  }

  .story-feed {
    margin: 80px 50px;
  }
}

@media (max-width: 545px) {
  .navbar {
    position: inherit;
  }

  .ProseMirror {
    width: 40%;
  }

  .story-feed {
    margin: 80px 25px;
    min-width: 350px;
  }
}

@media (max-width: 382px) {
  .ProseMirror {
    width: 30%;
  }
  
  .story-feed {
    margin: 150px 15px;
    min-width: 250px;
  }
}
