.metabar li, .logo {
  float: left;
  font-size: 14px;
}

.metabar {
  margin-right: 400px;
  margin-left: 0;
  display: block;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
  text-align: left;
  z-index: 500;
  width: 100%;
  color: rgba(0, 0, 0, 0.3);
  letter-spacing: 0;
}

.logo {
  display: block;
  font-size: 32px;
  margin-left: 15px;
}

.metabar-predictiveSearch {
  margin-left: 10px;
}

.metabar-list {
  margin: 0 460px;
  max-width: 600px;
}

.metabar-list li {
  color: rgba(0,0,0,0.5);
  padding: 23px;
}

.metabar-tools {
  margin: 10px 10px 10px 0;
}

.metabar-tools li {
  padding: 7px;
}
