.navbar {
  margin-right: 400px;
  margin-left: 0;
  display: block;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
  text-align: left;
  z-index: 500;
  width: 100%;
  color: rgba(0, 0, 0, 0.3);
  letter-spacing: 0;
}

.navbar-nav {
  height: 65px;
}

.navbar-center {
  margin-left: 400px;
  max-width: 600px;
}

.navbar-tools {
}

.navbar-nav li, h2 {
  display: block;
  margin: 20px 0 20px 10px;
}

.navbar-nav a {
  padding: 10px 0;
}

.navbar-center > li {
  cursor: pointer;
  float: left;
  color: rgba(0,0,0,0.5);
}

.navbar-tools > li {
  cursor: pointer;
  float: left;
}

.navbar-profile {
  position: relative;
}

.profile-actions {
  position: absolute;
  top: 40px;
  border: 1px solid #D3D3D3;
  background-color: white;
  border-radius: 4px;
  z-index: 900;
  width: 150px;
}

.profile-actions > .tooltip {
  position: absolute;
  display: none;
  border-top: 5px solid white;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 0;
}

.profile-actions a {
  white-space: nowrap;
  padding: 10px;
}

.logo {
  font-size: 32px;
}

button.primary {
  margin-bottom: 10px;
  margin-right: 8px;
  height: 37px;
  padding: 0 16px;
  font-size: 14px;
  background-color: rgba(255,255,255,0.97);
}
