.navbar {
  margin-right: 400px;
  margin-left: 0;
  display: block;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
  text-align: left;
  z-index: 500;
  width: 100%;
  color: rgba(0, 0, 0, 0.3);
  letter-spacing: 0;
}

.navbar-nav {
  height: 65px;
}

.navbar-center {
  margin-left: 400px;
  max-width: 600px;
}

.navbar-tools {
}

.navbar-nav li, h2 {
  display: block;
  margin: 20px 0 20px 10px;
}

.navbar-center > li {
  cursor: pointer;
  float: left;
  color: rgba(0,0,0,0.5);
}

.navbar-tools > li {
  cursor: pointer;
  float: left;
}

.navbar-profile {
  position: relative;
}

.profile-actions {
  position: absolute;
  top: 50px;
  right: 15px;
  border: 1px solid #D3D3D3;
  background-color: white;
  border-radius: 4px;
  z-index: 900;
  width: 150px;
}

.profile-actions li {
  margin: 10px;

}

.divider {
  border-right: 1px solid rgba(0, 0, 0, 0, .15);
  margin: 18px 12px 0 6px;
}

.share-button, .notifications-button {
  padding: 7px;
}

.profile-actions:before {
  content: "";
  width: 0; height: 0;
  background: transparent;
  border-top: none;
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
  border-bottom: 14px solid white;
  top: -13px;
  right: 0;
  position: absolute;
  border-color: #D3D3D3 transparent;
}

.profile-actions:after {
  content: "";
  width: 0; height: 0;
  background: transparent;
  border-top: none;
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
  border-bottom: 12px solid white;
  top: -14px;
  right: 0;
  position: absolute;
  border-color: #fff transparent;
  border-style: solid;
}

.profile-actions a {
  white-space: nowrap;
  padding: 10px;
}

.profile-tools li {
  float: left;
}

.logo {
  height: 45px;
  width: auto;
  margin-top: 10px;
  margin-left: 15px;
}

.modal-logo {
  margin: 0 auto;
  height: 60px;
}

.button {
  border: 1px solid rgba(0,0,0,0.15);
  border-radius: 999em;
}

.primary {
  color: #00ab6b;
  border-color: #02b875;
  padding: 8px 16px;
  font-size: 14px;
  background-color: rgba(255,255,255,0.97);
}
