.sidebar {
  width: 340px;
  padding: 0 30px 60px;
  background-color: #fafafa;
  position: fixed;
  display: block;
  top: 65px; right: 0; bottom: 0;
  height: auto;
  overflow-y: scroll;
  transition: 0.2s ease-in-out;
}

.sidebar-header {
  letter-spacing: .9px;
  color: rgba(0,0,0,0.8);
  font-weight: 400;
  font-size: 12px;
  margin-left: 5px;
  margin-top: 11px;
  margin-bottom: 15px;
  display: inline-block;
}

.sidebox {
  margin: auto;
  width: 300px;
  border-top: 1px rgba(0,0,0,0.15) solid;
  margin-top: 18px;
  margin-bottom: 40px;
}

.more-top-stories {
  font-size: 10px;
  float: right;
  padding: 13px;
}

.sidebox .tag-token {
  padding: 7px 13px;
  margin: 4px;
  letter-spacing: .75px;
}

.top-five {
  list-style-type: none;
  margin-left: 0;
  padding-right: 0;
  margin-top: 0;
  padding-left: 15px;
}

.top-five li {
  counter-increment: step-counter;
  border-bottom: 1px rgba(0,0,0,0.15) solid;
  padding: 18px 0;
}

.top-five li:before {
  content: counter(step-counter);
  color: black;
  font-size: 15px;
  padding: 8px 15px;
  margin-left: -46px;
  margin-right: 8px;
  border-color: solid .1em rgba(0,0,0,0.05);
}

.top-five li:last-child {
  border-bottom: 0;
  padding-bottom: 50px;
}

.top-five a:first-child {
  font-size: 18px;
}

.sidebar-author {
  color: rgba(0,0,0,0.6);
  font-size: 13px;
  display: block;
}

.sidebar-author:hover {
  color: #00ab6b;
}

.side-up {
  top: 0;
}

.side-right {
  transform: translateX(500px);
}
