
.story-feed {
  width: 600px;
  margin: 80px 200px;
}

.story-feed > li {
  width: 100%;
  display: block;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  margin: 20px 0;
}

.banner-index {
  height: auto;
  width: 100%;
  margin: 20px auto;
}

.heading-title {
  font-weight: 300;
  font-size: 18px;
  color: rgba(0,0,0,0.9);
}

.feed-title {
  width: 100%;
}

.feed-title a {
  width: 100%;
}

.story-feed-item small {
  font-size: 12px;
  color: rgba(0,0,0,0.44);
}

.story-preview-footer {
  margin-top: 15px;
  margin-bottom: 5px;
}

.fav-count {
  font-size: 18px;
  display: inline;
  line-height: 5px;
}

.story-preview-footer button {
  display: block;
  border: 0;
  margin-right: 10px;
}

.story-preview-footer span {
  cursor: pointer;
  font-size: 20px;
  margin-right: 5px;
}

.favorite-button {
  color: #00ab6b;
}

.favorite-button:hover {
  color: rgb(65, 230, 83);
}

.bookmark-button:hover {
  color: black;
}

.feed-subtitle {
  font-style: italic;
}

button.mini {
  margin-left: 10px;
  font-size: 12px;
  padding: 0px 12px;
  width: 60px;
}

.tagged li:first-child {
  border-bottom: 1px rgba(0,0,0,0.15) solid;
}

.tagged li:first-child span {
  color: rgba(0,0,0,0.35);
  font-size: 14px;
  letter-spacing: .5px;
}

.tagged li:first-child h3 {
  font-weight: 400;
  margin-bottom: 30px;
}

.tag-feed-follow {
  margin-top: 20px;
}

.close-feed {
  border: none;
  color: rgba(0,0,0,.6);
  font-size: 20px;
}

.close-feed:hover {
  color: black;
}

.ellipsis {
  font-size: 50px;
  text-align: center;
  font-family: serif;
  color: grey;
  opacity: .5;
}

.ellipsis:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4,end) 500ms infinite;      
  animation: ellipsis steps(4,end) 500ms infinite;
  content: "\2026"; /* ascii code for the ellipsis character */
  width: 0px;
}

@keyframes ellipsis {
  to {
    width: 1.25em;    
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 1.25em;    
  }
}
