.story {
  width: 100%;
  max-width: 100%;
  margin-top: 100px;
}

.ProseMirror {
  border-style: none;
  margin-bottom: 80px;
}

.ProseMirror-content {
  height: auto;
  margin: auto;
  max-width: 900px;
  min-height: 200px;
  font-size: 21px;
}

.ProseMirror-content:focus {
  outline: 0;
}

strong {
  font-weight: 700;
}

.story-edit {
  padding: 8px 22px;
  margin-top: 15px;
  margin-right: 10px;
}

.story-author-header {
  max-width: 875px;
  margin: 10px auto;
}

.story-tags-footer {
  width: 100%;
  margin: auto;
  max-width: 900px;
  margin-top: -65px;
}

.footer-tags {
  display: block;
}

.story-view-actions {
  float: right;
  list-style: none;
}

.fav-count {
  margin-right: 10px;
}
