.story {
  width: 100%;
  max-width: 100%;
  margin-top: 100px;
}

.ProseMirror {
  border-style: none;
}

.ProseMirror-content {
  height: auto;
  margin: auto;
  width: 900px;
  min-height: 200px;
  font-size: 21px;
}

.ProseMirror-content:focus {
  outline: 0;
}

strong {
  font-weight: 700;
}

.story-edit {
  padding: 8px 22px;
  position: absolute;
  right: 460px;
  top: 18px;
}

.story-author-header {
  width: 875px;
  margin: 10px auto;
}

.banner-link {
  background-size: cover;
}
