<div class="modal is-open">
  <form class="modal-form">
    <button class="modal-close js-modal-close">&times;</button>

    <h1 class="modal-logo">Polylit</h1>

    <p class="modal-content">Sign in or create an account</p>

    <div class="input">
      <label for="form-email">Email</label>
      <input type="text" id="form-email" placeholder="yourname@example.com">
    </div>

    <div class="input">
      <label for="form-password">Password</label>
      <input type="password" id="form-password" placeholder="Password">
    </div>

    <div class="submit">
      <button class="primary">Sign In</button>
      <span class="button-alternative js-modal-close">Cancel</span>
    </div>
  </form>
  <div class="modal-screen js-modal-close"></div>
</div>
