<header class="metabar">
  <nav class="metabar-nav group">
    <div id="banner logo">
      <h2 class="logo"><a href="#">Polylit</a></h2>
    </div>
    <ul class="metabar-list floatLeft">
      <li><a href="#">HOME</a></li>
      <li><a href="#">TOP STORIES</a></li>
      <li class="js-modal-open"><a href="#">BOOKMARKS</a></li>
    </ul>

    <ul class="metabar-tools floatRight">
      <li><input class="metabar-predictiveSearch" type="search" placeholder="Search Polylit"/></li>
      <li class="js-modal-open"><a href="#/new-story">Write a story</a></li>

      <% if logged_in? %>
        <li><a href="#">Notifications</a></li>
        <li><a href="#">Profile</a></li>
      <% else %>
        <li class="js-modal-open"><a href="#">Sign in / Sign up</a></li>
      <% end %>
    </ul>
  </nav>
</header>
